.App {
  text-align: center;
}

#navi {
  padding-left: 0px;
  background-color: #35B5CD;
  opacity: 0.5;
  box-shadow: 0 1px 0 1px rgba(126, 130, 131, 0.5);
}

li {
  display: inline-block;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

li > a {
  text-decoration: none;
}

li > a:visited {
  text-decoration: none;
}

.App-title {
  font-size: 1.8em;
  text-align: center;
  margin: 1%;
}

.App-intro {
  font-size: large;
}

.SectionContent {
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}
.hiddenContent {
  display:none;
}
.Inactive {
  display: none;
}

.player {
  background-color: #000;
  color: #fff;
  
}